* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0fff0;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li:last-child {
  margin-bottom: 0;
}

.general-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border: 4mm ridge #ffebcd;
  font-size: 30px;
  background-color: #90ee90;
}

/* task 1 */

#categories {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#categories:last-child {
  margin-bottom: 24px;
}

#categories .item {
  width: 360px;
  border-radius: 8px;
  background: #f6f6fe;
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#categories h2 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

#categories li ul li {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 4px 4px 4px 16px;
  margin-bottom: 8px;
}

#categories li ul li:focus,
#categories li ul li:hover {
  border: 1px solid #000;
}

#categories li ul li:last-child {
  margin-bottom: 0;
}

/* task 2 */

.gallery {
  width: 1120px;
  height: 648px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin: auto;
  background: #fff;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery img {
  object-fit: cover;
  width: 360px;
  height: 300px;
}

/* task 3 */

#name-input {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 16px;
}

#name-input:focus,
#name-input:hover {
  border: 1px solid #000;
}

#name-input + h1 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.96px;
  margin-left: 24px;
  margin-bottom: 24px;
}

/* task 4 */

.login-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  width: 408px;
}

.login-form label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 360px;
}

.login-form input:hover,
.login-form input:focus {
  border: 1px solid #000;
}

.login-form button {
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  padding: 8px 16px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  width: 86px;
  height: 40px;
  margin-top: 16px;
}

.login-form button:focus,
.login-form button:hover {
  background: #6c8cff;
}

/* task 5 */
.widget {
  margin-left: auto;
  margin-right: auto;
  padding: 100px 88px;
  width: 345px;
}

.widget p {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.widget button {
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  padding: 8px 16px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0, 04em;
  width: 148px;
}

.widget button:focus,
.widget button:hover {
  background: #6c8cff;
}

/* task 6 */

#controls {
  display: flex;
  padding: 32px;
  gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
  justify-content: center;
}

#controls input {
  border-radius: 8px;
  border: 1px solid #808080;
  width: 150px;
  height: 40px;
  text-align: center;

  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

[data-create] {
  width: 120px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

[data-destroy] {
  width: 120px;
  border: none;
  border-radius: 8px;
  background: #ff4e4e;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#boxes {
  display: inline-flex;
  padding: 32px;
  column-gap: 44px;
  justify-content: center;
}

#controls input:focus,
#controls input:hover {
  border: 1px solid #000;
}

[data-create]:focus,
[data-create]:hover {
  background: #6c8cff;
}

[data-destroy]:focus,
[data-destroy]:hover {
  background: #ff7070;
}
